/* Footer.css */
.footer {
  background-color: #004D40;
  /* Dark teal */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  /* Fixed position to stick at the bottom */
  bottom: 0;
  left: 0;
  /* Ensure it spans the full width */
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}